<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>519450450732-e86ofj97o5v0uuf8s2ua1qshkqnj9dfg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.519450450732-e86ofj97o5v0uuf8s2ua1qshkqnj9dfg</string>
	<key>API_KEY</key>
	<string>AIzaSyAR39P999HX4jAN4oHKHx9MTMx_bkn0Nwg</string>
	<key>GCM_SENDER_ID</key>
	<string>519450450732</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.company.clickwar</string>
	<key>PROJECT_ID</key>
	<string>apple-48610</string>
	<key>STORAGE_BUCKET</key>
	<string>apple-48610.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:519450450732:ios:226a77abe8e3ac07bc2a89</string>
</dict>
</plist>